/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Ignorar archivos de configuración
.env
.env.*

# Ignorar archivos de dependencias de Composer
/vendor/

# Ignorar directorios de almacenamiento
/storage/

# Ignorar archivos de logs
*.log

# Ignorar directorios de caché, si existen
/bootstrap/cache/

# Ignorar archivos temporales de sistema
.DS_Store
Thumbs.db